{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            {% if user.is_authenticated %} <!-- if logged in-->
            <p class="p-2">Hi, {{ user.username }}!<p>
            <li class="nav-item  ms-auto">

                <a class="nav-link btn btn-sm btn-primary" href="{% url 'logout' %}">Logout <i class="bi bi-box-arrow-right"></i></a>

            </li>


            {% else %} <!-- show login and register -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
            </li>
            {% endif %}

        </ul>
      </div>
    </div>
  </nav>

